@model WebShop_ASPNetCore8MVC_v1.ViewModels.HangHoaVM_admin
@{
   
    ViewData["Title"] = "QL_HangHoa";
    var hangHoaMV = ViewBag.hangHoaMV as WebShop_ASPNetCore8MVC_v1.ViewModels.HangHoaVM_admin ?? new WebShop_ASPNetCore8MVC_v1.ViewModels.HangHoaVM_admin();

    var message = TempData["Message"] as string ??"";
    var isAddError = ViewBag.isAddError as bool? ?? false;
  

    var isUpdateError = TempData["isUpdateError"] as bool? ?? false;
   
    var hangHoaList = TempData["hangHoaList"] as IEnumerable<WebShop_ASPNetCore8MVC_v1.ViewModels.HangHoaVM_admin> ?? new List<WebShop_ASPNetCore8MVC_v1.ViewModels.HangHoaVM_admin>();

    
}

@section Styles {
    <style>
        /* CSS để chia trang thành hai phần */
        .split-container {
            display: flex;
            height: 100vh;
        }

        .hidden {
            display: none;
        }


        .split-left {
            flex: 1;
            overflow-y: auto;
        }

        .split-right {
            flex: 3;
            overflow-y: auto;
        }

        .split-handle {
            width: 10px;
            cursor: ew-resize;
            background-color: #ccc;
        }
        /* CSS để chia trang thành hai phần */
        .truncate-2-lines {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Số dòng tối đa */
            -webkit-box-orient: vertical;
        }
    </style>

}

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Admin_QLLoai</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Quản lý Loại</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="split-container">
            <div class="split-left">
                <!-- Nội dung bên trái -->

                <div>
                    <th>
                        <tr>
                            <button id="createLoai_bt" class="btn border-secondary py-2 px-3 text-uppercase text-primary" onclick="AddForm()">Thêm mới</button>
                        </tr>
                        <tr>
                            @*<div class="text-danger" asp-validation-summary="All"></div>*@
                            <form asp-controller="HangHoa" asp-action="AdminGet" method="get">
                                

                                <div class="input-group w-100 mx-auto d-flex">
                                    <select name="loai" id="cars">
                                        <option value="" >"Tất cả loại"</option>
                                        @await Component.InvokeAsync("SelectLoai")

                                    </select>
                                    <input type="search" class="p-2" placeholder="keywords" aria-describedby="searchLoaiButton" name="query" id="searchLoaiText">
                                    <button type="submit" id="searchLoaiButton" class="input-group-text p-3 btn border-secondary py-2 px-3 text-uppercase text-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </tr>
                    </th>

                    @* -----------------From thêm---------------------- *@
                    <div class="container py-5 hidden" id="addForm">
                        <form asp-action="AdminAdd" asp-controller="HangHoa" method="post" enctype="multipart/form-data" >

                            <div>
                                <h1>Thêm Hàng Hoá</h1>
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="row">
                                    <label asp-for="@Model.MaHh" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.MaHh" value="0" readonly class="form-control" id="Model_MaHh">
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.TenHH" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.TenHH" class="form-control" id="Model_TenHH">
                                    <span asp-validation-for="@Model.TenHH" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.MaLoai" class="form-label my-3"></label><sup>*</sup>
                                    <select label asp-for="@Model.MaLoai" id="Model_MaLoai" class="form-control">
                                        @await Component.InvokeAsync("SelectLoai")

                                    </select>
                                    <span asp-validation-for="@Model.MaLoai" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.DonGia" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.DonGia" class="form-control" id="Model_DonGia">
                                    <span asp-validation-for="@Model.DonGia" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.MoTaNgan" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.MoTaNgan" class="form-control" id="Model_MoTaNgan">
                                    <span asp-validation-for="@Model.MoTaNgan" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.ChiTiet" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.ChiTiet" class="form-control" id="Model_ChiTiet">
                                    <span asp-validation-for="@Model.ChiTiet" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label class="form-label my-3" for="Hinh">Hình</label>
                                    <input type="file" name="Hinh" class="form-control" accept="image/*"  />
                                    <span asp-validation-for="@Model.Hinh" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn border-secondary py-1 px-2 text-uppercase text-primary">Save</button>

                                </div>
                            </div>
                        </form>

                    </div>
                    

                    @* -----------------End From thêm---------------------- *@


                    @* -----------------From sửa---------------------- *@
                    <div class="container py-5 hidden" id="updateForm">
                        <form asp-action="AdminUpdate" asp-controller="HangHoa" method="post" enctype="multipart/form-data">

                            <div>
                                <h1>Sửa Hàng Hoá</h1>
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="row">
                                    <label asp-for="@Model.MaHh" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.MaHh" value="0" readonly class="form-control" id="Update_MaHh">
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.TenHH" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.TenHH" class="form-control" id="Update_TenHH">
                                    <span asp-validation-for="@Model.TenHH" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.MaLoai" class="form-label my-3"></label><sup>*</sup>
                                    <select label asp-for="@Model.MaLoai" id="Update_MaLoai" class="form-control">
                                        @await Component.InvokeAsync("SelectLoai")

                                    </select>
                                    <span asp-validation-for="@Model.MaLoai" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.DonGia" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.DonGia" class="form-control" id="Update_DonGia">
                                    <span asp-validation-for="@Model.DonGia" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.MoTaNgan" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.MoTaNgan" class="form-control" id="Update_MoTaNgan">
                                    <span asp-validation-for="@Model.MoTaNgan" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label asp-for="@Model.ChiTiet" class="form-label my-3"></label><sup>*</sup>
                                    <input asp-for="@Model.ChiTiet" class="form-control" id="Update_ChiTiet">
                                    <span asp-validation-for="@Model.ChiTiet" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <label class="form-label my-3" for="Hinh">Hình</label>
                                    <input type="file" name="Hinh" class="form-control" accept="image/*"/>
                                    <span asp-validation-for="@Model.Hinh" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn border-secondary py-1 px-2 text-uppercase text-primary">Save</button>

                                </div>
                            </div>
                        </form>

                    </div>
                    @* -----------------End From sửa---------------------- *@
                </div>

            </div>



            <div class="split-handle"></div>
            <div class="split-right">
                <!-- Nội dung bên phải -->
                <!----------------------- Thông báo -->
                <div id="successMessage" class="alert alert-success" style="display: none;">
                    <h3 class="text-danger">@message</h3>
                    <button type="button" class="close" onclick="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!----------------------- end Thông báo -->

                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Hình</th>
                                <th scope="col">Mã hàng hoá</th>
                                <th scope="col">Tên hàng hoá</th>
                                <th scope="col">Tên Loại</th>
                                
                                <th scope="col">Giá</th>
                                <th scope="col">Mô tả ngắn</th>
                                <th scope="col">Chi tiết</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in hangHoaList)
                            {
                                <tr>
                                    <td>
                                        <img class="mb-0 mt-4 truncate-2-lines" src="~/Hinh/HangHoa/@item.Hinh" alt="Hình hàng hoá @item.TenHH" style="width: 50px; height: 50px;">
                                    </td>

                                    <td>
                                        <p class="mb-0 mt-4">@item.MaHh</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@item.TenHH</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@item.TenLoai</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@item.DonGia</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@item.MoTaNgan</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4 truncate-2-lines">@item.ChiTiet</p>
                                    </td>

                                    <td>
                                        <button type="button" id="updateHangHoa_bt" class="btn border-secondary py-2 px-3 text-uppercase text-primary" onclick="UpdateForm('@item.MaHh', '@item.TenHH', '@item.MaLoai','@item.DonGia', '@item.MoTaNgan','@item.ChiTiet')">Sửa</button>
                                    </td>
                                    <td>
                                        <a asp-action="AdminDelete" asp-controller="HangHoa" asp-route-id="@item.MaHh" id="deleteHanghoa_bt" class="btn border-secondary py-2 px-3 text-uppercase text-primary">Xoá</a>
                                    </td>

                               </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    </div>
</div>
<!-- Cart Page End -->


@if (isAddError)
{
<script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const addForm = document.getElementById('addForm');
            const updateForm = document.getElementById('updateForm');

            // Ẩn hoặc hiển thị form tùy thuộc vào trạng thái hiện tại của form1
            updateForm.classList.add('hidden');
            addForm.classList.remove('hidden');

            var MaHh = 0;
            var TenHH = @Json.Serialize(hangHoaMV.TenHH);
            var MaLoai = @Json.Serialize(hangHoaMV.MaLoai);
            var DonGia = @Json.Serialize(hangHoaMV.DonGia);
            var MoTaNgan = @Json.Serialize(hangHoaMV.MoTaNgan);
            var ChiTiet = @Json.Serialize(hangHoaMV.ChiTiet);

            document.getElementById('Model_MaHh').value = MaHh;
            document.getElementById('Model_TenHH').value = TenHH;
            document.getElementById('Model_MaLoai').value = MaLoai;
            document.getElementById('Model_DonGia').value = DonGia;
            document.getElementById('Model_MoTaNgan').value = MoTaNgan;
            document.getElementById('Model_ChiTiet').value = ChiTiet;
        });
</script>
}
@if (isUpdateError)
{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const addForm = document.getElementById('addForm');
            const updateForm = document.getElementById('updateForm');

            // Ẩn hoặc hiển thị form tùy thuộc vào trạng thái hiện tại của form1
            updateForm.classList.remove('hidden');
            addForm.classList.add('hidden');

            var MaHh = @Json.Serialize(hangHoaMV.MaHh);
            var TenHH = @Json.Serialize(hangHoaMV.TenHH);
            var MaLoai = @Json.Serialize(hangHoaMV.MaLoai);
            var DonGia = @Json.Serialize(hangHoaMV.DonGia);
            var MoTaNgan = @Json.Serialize(hangHoaMV.MoTaNgan);
            var ChiTiet = @Json.Serialize(hangHoaMV.ChiTiet);

            document.getElementById('Update_MaHh').value = MaHh;
            document.getElementById('Update_TenHH').value = TenHH;
            document.getElementById('Update_MaLoai').value = MaLoai;
            document.getElementById('Update_DonGia').value = DonGia;
            document.getElementById('Update_MoTaNgan').value = MoTaNgan;
            document.getElementById('Update_ChiTiet').value = ChiTiet;
        });
    </script>
}

@section Scripts {
    <script>
        // JavaScript để cho phép kéo thu phóng
        const handle = document.querySelector('.split-handle');
        const leftPane = document.querySelector('.split-left');
        const rightPane = document.querySelector('.split-right');
        let isDragging = false;

        handle.addEventListener('mousedown', (e) => {
            isDragging = true;
        });

        document.addEventListener('mousemove', (e) => {
            if (!isDragging) return;

            const xPos = e.clientX;
            const containerRect = document.querySelector('.split-container').getBoundingClientRect();
            const leftWidth = xPos - containerRect.left;

            leftPane.style.width = leftWidth + 'px';
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });

        function AddForm() {
            const addForm = document.getElementById('addForm');
            const updateForm = document.getElementById('updateForm');

            // Kiểm tra xem form1 đang được hiển thị hay không
            //const form1Visible = !form1.classList.contains('hidden');

            // Ẩn hoặc hiển thị form tùy thuộc vào trạng thái hiện tại của form1
            updateForm.classList.add('hidden');
            addForm.classList.remove('hidden');
        };

        function UpdateForm(MaHh, TenHH, MaLoai,DonGia,MoTaNgan,ChiTiet) {
            const addForm = document.getElementById('addForm');
            const updateForm = document.getElementById('updateForm');

            // Kiểm tra xem form1 đang được hiển thị hay không
            //const form1Visible = !form1.classList.contains('hidden');

            // Ẩn hoặc hiển thị form tùy thuộc vào trạng thái hiện tại của form1
            addForm.classList.add('hidden');
            updateForm.classList.remove('hidden');

            console.log("Sửa thông tin cho mục mã HH là: " + MaHh);
            console.log("Tên HH: " + TenHH);
            console.log("Giá: " + DonGia);

            document.getElementById('Update_MaHh').value = MaHh;
            document.getElementById('Update_TenHH').value = TenHH;
            document.getElementById('Update_MaLoai').value = MaLoai;
            document.getElementById('Update_DonGia').value = DonGia;
            document.getElementById('Update_MoTaNgan').value = MoTaNgan;
            document.getElementById('Update_ChiTiet').value = ChiTiet;
        };

        //----------------Hiển thị thông báo
      
        if (@message.Length >0) {
            showSuccessMessage();
        }
        else {
            closeMessage();
        }
        function showSuccessMessage() {
            document.getElementById("successMessage").style.display = "block";
        }

        function closeMessage() {
            document.getElementById("successMessage").style.display = "none";
        }


    </script>
}
